.bookNowMDiv {
  display: flex;
  margin-top: 4%;
}
.bookNow1 {
  width: 70%;
  margin-left: 5%;
}
.bookNow2 {
  width: 25%;
  height: 28%;
  margin-left: 6%;
  margin-right: 6%;
  background-color: #f9fafb;
  padding: 1%;
  border-radius: 10px;
  position: sticky;
  top: 8rem;
  bottom: 0rem;
}
.bookNow2 h4 {
  background-color: #067dc2;
  color: aliceblue;
  padding: 5%;
  text-align: center;
  border-radius: 5px;
  font-size: 1.3rem;
}
.bookNow2 h5 {
  color: #067dc2;
}
.bookNow2 input {
  padding: 2.3%;
  width: 100%;
  border: 1px solid rgb(219, 213, 213);
}
.bookNow2 button {
  border: none;
  width: 100%;
  padding: 2.3%;
  border-radius: 5px;
  background-color: #067dc2;
  color: aliceblue;
}
