.last_part {
  background-color: #afcce0;
  color: #627799;
}
.play_store {
  width: 151px;
}
.app_store {
  width: 150px;
}
.footerIcon a {
  text-decoration: none;
}
.footerIcon a img {
  font-size: 2rem;
  cursor: pointer;
}
.fa-youtube:hover {
  color: red;
}
#contract {
  margin-top: 4%;
}
